

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

# NTUMBA NKONGOLO ALBERT

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [1]:
liste=[]

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [2]:
l=[12,4,5,8,6,7]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [3]:
print(len(l))

6

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [4]:
print(l[0],l[(int((len(l)-1)/2))],l[-1])

12 5 7

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [5]:
mixed_data_types=['ntumba','27','2','C','senegal']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

2. Imprimez la liste √† l'aide de print()

In [6]:
it_companies=['Facebook', 'Google','Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

3. Imprimez le nombre d'entreprises dans la liste

In [7]:
print(len(it_companies))

7

4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

In [8]:
print(it_companies[0],it_companies[int((len(it_companies)/2)-1)],it_companies[-1])

Facebook Microsoft Amazon

5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

In [9]:
it_companies[0]= 'Albert_companie'
print(it_companies)

['Albert_companie', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

6. Ajout d'une entreprise informatique √† it_companies

In [10]:
it_companies.insert(2,'alba')
print(it_companies)

['Albert_companie', 'Google', 'alba', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

In [11]:
it_companies.insert(int((len(it_companies))/2),'al')
print(it_companies)

['Albert_companie', 'Google', 'alba', 'Microsoft', 'al', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

In [12]:
print(it_companies[2].upper())

ALBA

9. Joignez les it_companies avec une cha√Æne '# ; '.

In [13]:
res = " # ".join(it_companies)
print(res)

Albert_companie # Google # alba # Microsoft # al # Apple # IBM # Oracle # Amazon

10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

In [14]:
if 'IBM' in it_companies:
    print("la compagnie existe")
else:
    print("la compagnie n'existe")

la compagnie existe

11. Trier la liste en utilisant la m√©thode sort()

In [15]:
it_companies.sort()
print(it_companies)

['Albert_companie', 'Amazon', 'Apple', 'Google', 'IBM', 'Microsoft', 'Oracle', 'al', 'alba']

12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

In [16]:
it_companies.reverse()
print(it_companies)

['alba', 'al', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Apple', 'Amazon', 'Albert_companie']

13. Supprimez les 3 premi√®res entreprises de la liste.

In [17]:
del it_companies[0:3]
print(it_companies)

['Microsoft', 'IBM', 'Google', 'Apple', 'Amazon', 'Albert_companie']

14. Supprimez les 3 derni√®res entreprises de la liste.

In [18]:
del it_companies[-3:]
print(it_companies)

['Microsoft', 'IBM', 'Google']

15.Supprimez la ou les entreprises informatiques du milieu de la liste.

In [19]:
del it_companies[int((len(it_companies)-1)/2)]
print(it_companies)

['Microsoft', 'Google']

16. Supprimez la premi√®re entreprise informatique de la liste

In [20]:
del it_companies[0]
print(it_companies)

['Google']

17. Supprimez la ou les entreprises informatiques du milieu de la liste.

In [21]:
del it_companies[int((len(it_companies)-1)/2)]
print(it_companies)

[]

18. Retirer la derni√®re entreprise informatique de la liste

In [22]:
del it_companies[-1]
print(it_companies)

IndexError: list assignment index out of range

19. Supprimez toutes les entreprises informatiques de la liste

In [23]:
del it_companies[0:]
print(it_companies)

[]

20. D√©truire la liste des entreprises informatiques

In [24]:
it_companies.clear()
print(it_companies)

[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [25]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end)
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

1. Trier la liste et trouver l'√¢ge minimum et maximum.

In [26]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print("la valeur minimale est: ",ages[0],"celle maximale est: ",ages[-1])

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
la valeur minimale est:  19 celle maximale est:  26

2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.

In [27]:
ages.append(19)
ages.append(26)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).

In [28]:
ages.sort()
print(ages)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [29]:
taille=len(ages)
t=int(len(ages)/2)
if (taille%2==0):
    print((ages[t]+ages[t+1])/2)
else:
    print(ages[t])

24.0

4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).

In [30]:
s=0
for i in ages:
    s=s+i
m=s/(len(ages))
print("la somme vaut:",s)
print("la moyenne vaut:",int(m))

la somme vaut: 273
la moyenne vaut: 22

4. Trouver l'intervalle des √¢ges (max moins min)

In [31]:
Valmin=min(ages)
Valmax=max(ages)
li=[Valmin,Valmax]
print(li)

[19, 26]

5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [32]:
if (abs(m-ages[0])==abs(ages[-1]-m)):
    print("min moy est egal a max moy")
else:
    print("min moyen n'est pas egal a max moy")

min moyen n'est pas egal a max moy

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

1. Cr√©er un dictionnaire vide appel√© dog

In [33]:
dog={}

2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.

In [34]:
dog[1]='ntumba'
dog[2]='blanche'
dog[3]='noire'
dog[4]='27'

In [35]:
print(dog)

{1: 'ntumba', 2: 'blanche', 3: 'noire', 4: '27'}

3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.

In [36]:
student={'1':'albert','2':'ntumba', '3':'M','age':'27','etat_civil':'C','competence':['Math','Info'],'pays':'RDC',
         'ville':'kinshasa','adresse':'senegal'}

4.Obtenez la longueur du dictionnaire student

In [37]:
print(len(student))

9

5.R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.

In [38]:
print(student['competence'],type(student['competence']))

['Math', 'Info'] <class 'list'>

6.Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.

In [39]:
student['competence'].append('statistique')

In [40]:
print(student['competence'])

['Math', 'Info', 'statistique']

7. Obtenez les cl√©s du dictionnaire sous forme de liste

In [41]:
a=list(student.keys())
print(a)

['1', '2', '3', 'age', 'etat_civil', 'competence', 'pays', 'ville', 'adresse']

8.Obtenir les valeurs du dictionnaire sous forme de liste

In [42]:
a=list(student.values())
print(a)

['albert', 'ntumba', 'M', '27', 'C', ['Math', 'Info', 'statistique'], 'RDC', 'kinshasa', 'senegal']

9.Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()

In [43]:
print(student.items())

dict_items([('1', 'albert'), ('2', 'ntumba'), ('3', 'M'), ('age', '27'), ('etat_civil', 'C'), ('competence', ['Math', 'Info', 'statistique']), ('pays', 'RDC'), ('ville', 'kinshasa'), ('adresse', 'senegal')])

10.Supprimer un des √©l√©ments du dictionnaire

In [44]:
del student['1']

In [45]:
print(student)

{'2': 'ntumba', '3': 'M', 'age': '27', 'etat_civil': 'C', 'competence': ['Math', 'Info', 'statistique'], 'pays': 'RDC', 'ville': 'kinshasa', 'adresse': 'senegal'}

11.Supprimer un des dictionnaires

In [46]:
del student['2']

In [47]:
print(student)

{'3': 'M', 'age': '27', 'etat_civil': 'C', 'competence': ['Math', 'Info', 'statistique'], 'pays': 'RDC', 'ville': 'kinshasa', 'adresse': 'senegal'}

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>

# MERCI BEAUCOUP POUR L'APPRENTISSAGE